name: Auto-merge

on:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
  if: github.actor == 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge (squash)
        uses: pascalgn/automerge-action@v0.16.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_METHOD: squash
          # Optionnel: limiter aux PR du bot release-please
          # MERGE_FILTER_AUTHOR: github-actions[bot]